@import "_element.scss";
@import "_variables.scss";

* {
  box-sizing: border-box;
  font-family: Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main {
  line-height: 1.6;
  width: 80%;
  margin: 0 auto;
}

.hero {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;

  .hero__photo {
    height: 60vh;
    width: 90%;
    background-image: url("https://source.unsplash.com/random/");
  }
  h2 {
    font-weight: 700;
    font-size: 32px;
    margin-top: 80px;
    margin-bottom: 120px;
  }
  p {
    font-size: $fontMedium;
    span {
      font-size: $fontMedium - 5px;
      margin-right: 50px;
      font-weight: 600;
    }
  }
}
.products {
  display: grid;
  grid-template-columns: 1fr;
  .product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px 0px;
    border-top: $border;
    &:nth-child(2),
    &:nth-child(4) {
      div {
        order: 1;
      }
    }
  }
  .product__category {
    @extend %categoryTitle;
  }
  p {
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 500;
    line-height: 1.5;
  }
  img {
    width: 100%;
  }
}
.btn {
  @extend %btn;
  border: $border;
  margin-right: 10px;
}
.links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 20px;
  border-top: $border;
  gap: 20px;
  .link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    h4 {
      @extend %categoryTitle;
      margin-bottom: 30px;
    }
    span {
      font-size: 20px;
      margin-bottom: 20px;
      font-weight: 500;
      line-height: 1.5;
    }
  }
}
footer {
  background-color: #4d4c4c;
  width: 100%;
  padding: 50px 0;
  padding-left: 20px;
  margin-top: 100px;
  color: white;
  .footer__top {
    width: 80%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 0 auto;
    ul {
      display: flex;
      font-size: 16px;
      align-items: center;
    }
    li {
      margin-right: 15px;
    }
    span {
      font-size: 28px;
    }
  }
}
